{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <h1 class="mt-4">Games</h1>
        <table class="table table-hover" aria-label="Table containing chess games.">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
                <th scope="col">Black</th>
                <th scope="col">White</th>
                <th scope="col">Result</th>
            </tr>
            </thead>
            <tbody>
            {% for game in game_list %}
                <tr class="clickable" onclick="window.location='{% url 'game' game.pk %}';">
                    <th scope="row">{{ game.id }}</th>
                    <td>{{ game.date|date:"d.m.Y" }}</td>
                    <td>{{ game.description }}</td>
                    <td>{{ game.black }}</td>
                    <td>{{ game.white }}</td>
                    <td>{{ game.result }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}