{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <h1 class="mt-4">
            Game
            {% if game.date %}
                from {{ game.date|date:"d.m.Y" }}
            {% endif %}</h1>
        <div class="container-fluid">{{ game.description }}</div>

        <h2 class="mt-2">Details</h2>

        <div class="container-fluid">
            <div class="row" >
                <div class="col-2">
                    Event
                </div>
                <div class="col">
                    {{ game.event }}
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    Site
                </div>
                <div class="col">
                    {{ game.site }}
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    Date
                </div>
                <div class="col">
                    {% if game.date %}
                        {{ game.date|date:"d.m.Y" }}
                    {% else %}
                        Date unknown
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    Round
                </div>
                <div class="col">
                    {{ game.round }}
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    White
                </div>
                <div class="col">
                    {{ game.white }}
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    Black
                </div>
                <div class="col">
                    {{ game.black }}
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    Result
                </div>
                <div class="col">
                    {{ game.result }}
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    ECO
                </div>
                <div class="col">
                    {{ game.eco|default_if_none:"-" }}
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    Opening
                </div>
                <div class="col">
                    {{ game.opening|default_if_none:"-" }}
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    Variation
                </div>
                <div class="col">
                    {{ game.variation|default_if_none:"-" }}
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    ECO Transposition
                </div>
                <div class="col">
                    {{ game.ecot|default_if_none:"-" }}
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    Opening Transposition
                </div>
                <div class="col">
                    {{ game.openingt|default_if_none:"-" }}
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    Variation Transposition
                </div>
                <div class="col">
                    {{ game.variationt|default_if_none:"-" }}
                </div>
            </div>
        </div>
        <h2 class="mt-2">PGN</h2>
        <div class="container-fluid">
            <div class="card">
                <p class="card-header">
                    <a data-bs-toggle="collapse" href="#collapse-pgn" aria-expanded="true"
                       aria-controls="collapse-pgn" id="heading-pgn" class="d-block">
                        Show
                    </a>
                </p>
                <div id="collapse-pgn" class="collapse" aria-labelledby="heading-pgn">
                    <div class="card-body">
                        <pre id="pgn_string">{{ game.pgn }}</pre>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="mt-2">Final Position ({{ turn_color }} to move)</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    {{ chess_board_svg|safe }}
                </div>
            </div>
        </div>
    </div>



{% endblock %}